/* Basic Styles */
html, body {
	margin:0px; padding:0px; width:100%; height:100%; scroll-behavior:smooth;
}
* {box-sizing:border-box;}

/* Font Styles */
body {font-family:'Work Sans', 'Helvetica', 'Arial', sans-serif;}
h1, h2, h3 {margin:0px; line-height:1.2;}
.section-text {line-height:1.5;}

/* Reusable Layout Styles */
.section {padding-top:50px;}
.section-text {
	padding-left:20px; padding-right:20px; max-width:760px; 
	margin-left:auto; margin-right:auto;
}
.project-heading {margin-bottom:30px;}
.project-body {position:relative; width:100%; height:100vh;}
.map {width:100%; height:100%; z-index:5;}

/* Context Styles */
header {
	position:relative; width:100%; z-index:50; padding-top:30px;
}
header a {text-decoration:none; color:inherit;}
.navigation {margin-top:10px;}
.navigation a {
	display:inline-block; font-size:16px; text-decoration:none; color:#999;
	margin-right:15px;
}
.navigation a:hover {
	color:#333;
}
footer {padding-bottom:30px; padding-top:1px;}
#primary-map {background:#000;}

/* Control Styles */
.years {
	position:absolute; top:0px; width:100%; display:flex; z-index:10;
	background:#ccc;
}
.year {flex:1; padding:20px 15px; font-size:18px; font-weight:bold; text-align:center;}
.year:hover, .year.active {background:#bbb;}
