---
---

@mixin breakpoint($point) {
    @if $point == m {@media screen and (max-width: 980px)  {@content;}}
    @if $point == s {@media screen and (max-width: 760px)  {@content;}}
    @else if $point == xs {@media screen and (max-width:375px) {@content;}}
}
@mixin text-shadow {text-shadow:0px 0px 3px rgba(0,0,0,0.3);}

// Resets
* {box-sizing:border-box;}
html, body {margin:0px; padding:0px;}
img {text-decoration:none; border:0px;}

// Fonts
body {font-family:'Source Sans Pro', sans-serif; font-size:18px; line-height:1.5; color:#333;}
h1, h2, h3 {font-family:'Libre Baskerville', serif; margin:0px;}
h1 {
	font-size:28px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:20px;
}
a {text-decoration:none; color:inherit;}

// Elements
.section {
	padding:50px 0px;
}
.container {
	position:relative; max-width:840px; margin:0px auto; padding:0px 30px;
	&.wide {max-width:1200px;}
}
.content {
	h1 {margin-top:50px;}
	h2, h3 {margin-top:30px;}
	a {border-bottom:1px solid #333;}
	p {margin:20px 0px;}
	img {
        display:block; max-height:500px; max-width:100%; margin:auto;
    }
    img + em {
        display:block; text-align:center; max-width:300px; margin:20px auto 0px; font-size:16px; font-style:normal;
    }
	div.highlight {
		padding:1px 20px; border-radius:5px;
	}
	code {
		max-width:100%; word-wrap:break-word; font-size:16px;
	}
}
.intro {
	position:relative; text-align:center; font-size:20px; padding:100px 0px;
	background-size:cover; background-position:center center;
}
.item {
	position:relative; display:flex; justify-content:center; align-items:center;
	margin-top:30px; padding:30px; min-height:300px; background-color:#333; color:white;
}
.locale-switch {
	position:absolute; display:block; top:15px; left:15px; border-bottom:1px solid #333;
}
.bg {
	position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1;
	background-size:cover; background-position:center center;
}
.description {
	font-family:"Inconsolata", monospace;
	p {margin-bottom:0px;}
}
.over-bg {
	z-index:5;
	h1, h2, .description {
		display:inline-block; background:white; color:#333; padding:10px 16px;
		p {margin:0px;}
	}
	h1, h2 {margin-bottom:20px;}
}
.gradient-bg {
	position:absolute; top:0px; width:100%; height:100%; z-index:3;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(51,51,51,1) 100%);
}

// Site Layout
header, footer {text-align:center;}
header {
	padding:30px 0px;
	a {border:0px;}
	.logo {height:80px; margin-bottom:10px;}
}
footer {
	padding:40px 0px; border-top:1px solid #ddd;
	font-family:'Inconsolata', monospace;
	p {margin:0px;}
}

// Page Styles
body.home {
	.section.about {background:#f1f1f1; font-size:20px;}
	.section.team {background:#99badd; color:white;}
	.section.projects {text-align:center;}
}

body.project {
	header {
		.logo, h1 {display:inline-block; vertical-align:middle; margin:0px 4px;}
		.logo {height:40px;}
		h1 {line-height:40px; font-size:20px;
			@include breakpoint(xs) {font-size:18px;}
		}
		@include breakpoint(s) {
			h1 {display:block;}
		}
	}
	.subcollection {
		text-align:center; background:#f1f1f1;
		.item {
			display:inline-flex; width:calc(50% - 17px);
			&:nth-child(even) {margin-right:30px;}
			@include breakpoint(s) {
				width:100%;
				&:nth-child(even) {margin-right:0px;}
			}
		}
	}
	.gallery {margin-top:50px;}
}

// PYGMENTS =====================================================================

/* Solarized Dark 

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { background-color: #002b36; color: #93a1a1 }
.highlight .c { color: #586e75 } /* Comment */
.highlight .err { color: #93a1a1 } /* Error */
.highlight .g { color: #93a1a1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93a1a1 } /* Literal */
.highlight .n { color: #93a1a1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #93a1a1 } /* Punctuation */
.highlight .cm { color: #586e75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586e75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93a1a1 } /* Generic.Output */
.highlight .gp { color: #93a1a1 } /* Generic.Prompt */
.highlight .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #93a1a1 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #93a1a1 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #93a1a1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #93a1a1 } /* Name.Label */
.highlight .nn { color: #93a1a1 } /* Name.Namespace */
.highlight .nx { color: #93a1a1 } /* Name.Other */
.highlight .py { color: #93a1a1 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93a1a1 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #586e75 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #93a1a1 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #93a1a1 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */