<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.layout != 'home' %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Google Fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Libre+Baskerville:ital@0;1&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

		<!-- CSS Includes -->
		<link rel="stylesheet" href="/css/main.css" />

		<!-- JS Includes -->
		<script src="https://unpkg.com/jquery@3/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

		<!-- Plugins -->
		<link rel="stylesheet" href="https://unpkg.com/justifiedGallery@3/dist/css/justifiedGallery.min.css" />
		<script src="https://unpkg.com/justifiedGallery@3/dist/js/jquery.justifiedGallery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/lightbox2@2.11.3/dist/css/lightbox.min.css" />
		<script src="https://unpkg.com/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>

		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-XQKSGHSPK0"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-XQKSGHSPK0');
		</script>

	</head>
	<body class="{{ page.layout }}">

		<a class="locale-switch" href="{{ page.permalink | prepend: locale.locale_switch_url }}">{{ locale.locale_switch_text }}</a>

		<header><div class="container">
			<a href="{{ locale.home_url }}">
				<img src="/assets/logo.png" class="logo" />
				<h1>{{ site.title }}</h1>
			</a>
		</div></header>


	
