{% include header.html %}

    <div class="section about">
        <div class="container">
            {{ page.about | markdownify }}
        </div>
    </div>

    <div class="section projects">
        <div class="container wide">
            <h2>{{ locale.projects }}</h2>
            {% for project in site.projects %}
                {% if project.locale == locale.locale_id %}
                <a href="{{ project.url }}">
                    <div class="project-item">
                        <div class="bg" style="background-image:url('/assets/{{ project.background }}')"></div>
                        <div class="over-bg"><h2>{{ project.title }}</h2></div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="section team">
        <div class="container">
            <h2>{{ page.team.title }}</h2>
            {% for member in page.team.members %}
                {{ member | markdownify }}
            {% endfor %}
        </div>
    </div>

{% include footer.html %}