{% include header.html %}

    <div class="section intro over-bg" style="background-image:url('/assets/{{ page.background }}')">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <div></div><!-- Line break-->
            <div class="description">{{ page.description | markdownify }}</div>
        </div>
    </div>

    <div class="section">
        <div class="container content">
            {{ page.content | markdownify }}
        </div>

        {% if page.gallery %}
        <div class="container wide gallery">
            <div id="justified-gallery">
                {% for image in page.gallery %}
                    <a href="/assets/{{ image.url }}" data-lightbox="gallery" data-title="{{ image.caption }}">
                        <img src="/assets/{{ image.url }}" alt="{{ image.caption }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if page.subcollection %}
    <div class="section subcollection">
        <div class="container wide">
            <h2>{{ page.subcollection.title }}</h2>
            {% for project in site[page.subcollection.collection] %}
                {% assign item = project %}
                {% include item.html %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
{% include footer.html %}