{% include header.html %}

    <div class="section intro dark">
        <div class="bg" style="background-image:url('/assets/{{ page.background }}')"></div>
        <div class="gradient-bg"></div>
        <div class="container over-bg">
            <h1>{{ page.title }}</h1>
            {{ page.description | markdownify }}
        </div>
    </div>

    <div class="section body dark">

        <div class="container content">
            {{ page.content | markdownify }}
        </div>

        {% if page.gallery %}
        <div class="container wide gallery">
            <div id="justified-gallery">
                {% for image in page.gallery %}
                    <a href="/assets/{{ image.url }}" data-lightbox="gallery" data-title="{{ image.caption }}">
                        <img src="/assets/{{ image.url }}" alt="{{ image.caption }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    
{% include footer.html %}